<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript"
            src="http://coffeescript.org/extras/coffee-script.js">
    </script>
</head>

<body ng-app="timerApp">
    <div class="container" ng-controller="TimerCtrl">
        <div class="jumbotron">
            <h1>"The Hitchhiker's Guide to the Galaxy" Best Quotes</h1>
            <h3>Explained (or maybe not)</h3>
        </div>
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item"><button class="btn btn-default" ng-click="newLine()">I Want to Know</button></li>
                <li class="list-group-item"><button class="btn btn-default" ng-click="newLine()">the Meaning of Life,</button></li>
                <li class="list-group-item"><button class="btn btn-default" ng-click="newLine()">the Universe</button></li>
                <li class="list-group-item"><button class="btn btn-default" ng-click="newLine()">and Everything!</button></li>
            </ul>
        </div>

        <div class="col-sm-9">
            <p class="well">
                <script type="text/coffeescript">
                    msg = "Hello World !"
                    alert msg
                </script>
            </p>
        </div>
    </div>
</body>

<footer>
    <div class="container">
        <p class="pull-right">
            Copyright: certainly not Adrien Lina.
        </br>These are Douglas Adams's words !
    </p>
    </div>
</footer>

<script src="vendor/js/jquery.min.js"></script>
<script src="vendor/js/bootstrap.min.js"></script>
